name: CI

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Update environment
        run: uv sync --all-extras --dev

      - name: Run linter
        run: uv run ruff check

      - name: Check formatting
        run: uv run ruff format --check

      - name: Run tests
        run: uv run pytest --cov-report=xml --junitxml=junit.xml -o junit_family=legacy
      
      - uses: codecov/test-results-action@v1
        if: ${{ !cancelled() }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}